<h1 class="display-4 center">Aktualny Repertuar</h1>
<div class ="container" *ngIf="moviesObservable | async as movies else empty">
<div class = "row" *ngFor="let movie of movies">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{movie.picture}}" class="card-img-top" alt="fdf">
            <div class="card-body">
              <p class="card-text">Tytuł: {{movie.title}}</p>
              <p class="card-text">Czas trwania: {{movie.duration}}</p>
            </div>
          </div>
      </div>
      <div class="col">
          Aktualne seanse:
          <ul class="list-unstyled" *ngFor="let screening of movie.screenings">
             <li class="media">              
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Data: {{screening.screeningDate}}</h5>
                  Numer seansu: {{screening.screeningId}}
                  Nr sali: {{screening.screeningRoomId}}          
                </div>
                <div class="media-body">
                    <button class="btn" (click)="openModalView(screening.screeningId, screening.screeningRoomId)">Kup bilet</button>
                </div>
              </li>
          </ul>
      </div>      
</div>
</div>