/CinemaSupportApi/CinemaSupportApi/bin
/CinemaSupportApi/CinemaSupportApi/obj
/CinemaSupportApi/CinemaSupportApi.Tests/bin
/CinemaSupportApi/CinemaSupportApi.Tests/obj
/CinemaSupportApi/packages
/CinemaSupportApi/.vs