/CinemaSupportApp/CinemaSupportApp/bin
/CinemaSupportApp/CinemaSupportApp/obj
/CinemaSupportApp/CinemaSupportApp.Tests/bin
/CinemaSupportApp/CinemaSupportApp.Tests/obj
/CinemaSupportApp/packages
/CinemaSupportApp/.vs