/CinemaSupportApi/CinemaSupportApi/bin
/CinemaSupportApi/CinemaSupportApi/obj
/CinemaSupportApi/CinemaSupportApi.Tests/bin
/CinemaSupportApi/CinemaSupportApi.Tests/obj
/CinemaSupportApi/packages
/CinemaSupportApi/.vs
/CinemaSupportApi/CinemaSupport.Data/obj
/CinemaSupportApi/CinemaSupport.Data/bin
/CinemaSupportApi/CinemaSupport.Domain/obj
/CinemaSupportApi/CinemaSupport.Domain/bin
/CinemaSupportApi/CinemaSupport.Processing/obj
/CinemaSupportApi/CinemaSupport.Processing/bin