<h1 class="display-4 center2">Rozkład sal kinowych</h1>
<div>
<nav aria-label="breadcrumb" *ngFor="let room of screeningRooms" (click)="ticketNumber()">
    <ol class="breadcrumb">
      SHIT 
    </ol>
  </nav>
</div>
<ul class="list-group" *ngIf="screeningRoomsObservable | async as screeningRooms else empty">
        <ul class="list-group-item list-group-item-primary" *ngFor="let room of screeningRooms">Nazwa sali: {{room.name}}<br> 
            Piętro na którym znajduję się sala: {{room.floor}}
        <li class="list-group-item list-group-item-light" *ngFor="let seat of room.seats">Miejsce numer: {{seat.seatId}}</li>
        </ul>
</ul>