<h2 class="center2">Premiere</h2>
<div>
<img [@myAwesomeAnimation]='state' (click)="animateMe()" src="https://ocs-pl.oktawave.com/v1/AUTH_2887234e-384a-4873-8bc5-405211db13a2/splay/2018/02/hbo-go-najlepsze-filmy-1180x590.jpg" alt="Italian Trulli" class="center">>
</div>

<!-- As you can see, to attach an animation to an HTML element,
 you wrap brackets around the trigger name, preceded by an @. 
 You bind it to a template expression, which in this case is a 
 property that we will define in the component class. -->